.video-1{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateY(15%);
    z-index: -1;
}

.video-2{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateY(35%);
    z-index: -1;
}

.color-item1{
    position: fixed;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    background-color: #e91e63;
    opacity: 0.10;
}

.content-wrapper1{
    position: fixed;
    z-index: 2;
}

